/c1_HelloWorld/HelloWorld.iml
/JavaStarter.iml
/c2_Syntax/.gitignore
/c2_Syntax/Syntax.iml
/c1_HelloWorld/.idea/
/c1_HelloWorld/.gitignore
/c2_Syntax/.idea/
/out/
/.idea/
/c2_Syntax/.gitignore
/c2_Syntax/Syntax.iml
/c1_HelloWorld/HelloWorld.iml
/c1_HelloWorld/.gitignore
/c3_PrimitivesStringsNumbers/.idea/
/c3_PrimitivesStringsNumbers/.gitignore
/c3_PrimitivesStringsNumbers/c3_PrimitivesStringsNumbers.iml
